
.choose_country{
    font-family: Arial, Helvetica, sans-serif;
    padding:1rem;  
    /* border: 2px solid white;  */
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.choose_country h2{
    font-size: 2.25rem;

}
.country_icon i,
.country_icon a{
    color: white;
    font-size: 2rem;
    /* border: 2px solid white; */
    text-decoration: none;
    font-weight: 400;
    
}
.searchbar{
    max-width: 26%; 
     /* background: none;    */
    padding: 0.25rem 0.75rem;  
    border: 0.5px solid rgb(177, 177, 177);  
    margin: 1.25rem;    
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.5rem;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 10px;


}
.searchbar input{
    width: 100%; 
    background: none;
    padding: 1rem 0rem;
    border: 0.5px solid rgb(208, 208, 208);

     border: none;
}
.searchbar input:focus{
    outline: none;
  
}
.searchbar ::placeholder{
     color:  #B3B5BF;
     font-size: 1.25rem;
     
    
}
.searchbar i{
    color: #4D28DA;
 
 
}
.searchbar:focus-within{

    border: 0.5px solid #633ff2;
}
.country_list_panel{
    /* border: 2px solid white; */
    /* padding: 3rem; */
    display: flex;
    justify-content: flex-start;
    gap: 10rem;

}

.country_list li{
    list-style: none;
    /* display: flex; */
    padding: 0.75rem;
    transition-duration:300ms;
    
}
.country_list li a {
    text-decoration: none;
    color: white;
    font-size: 1.25rem;
    font-family: Arial, Helvetica, sans-serif;


}
.country_list span{
    font-size: 1rem;
    color: #919193;
    /* padding: 0.75rem; */
    margin:0  1rem;

}

.country_list li:hover{
    transform: scale(1.08);
}

@media(max-width:540px){
    .container{
        max-width: 90%;
    }
    .choose_country h2{
        display: none;
    }
    .choose_country i{
        position: absolute;
        top: 5%;
    }
    .searchbar{
         max-width: 100%;
         margin:1.25rem 0;
    }
    .country_list_panel{
      flex-wrap: wrap;
    .country_list li{
        flex-direction: column;
       
    }
}