
.choose_country{
    font-family: Arial, Helvetica, sans-serif;
    padding:1rem;  
    /* border: 2px solid white;  */
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    display: none;
}
.choose_country h2{
    font-size: 2.25rem;

}
.country_icon i,
.country_icon a{
    color: white;
    font-size: 2rem;
    /* border: 2px solid white; */
    text-decoration: none;
    font-weight: 400;
    
}
.searchbar{
    max-width: 30%; 
     /* background: none;    */
    padding: 0.25rem 0.75rem;  
    border: 0.5px solid rgb(177, 177, 177);  
    margin: 1.5rem;    
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.5rem;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 10px;


}
.searchbar input{
    width: 100%; 
    background: none;
    padding: 1rem 0rem;
    border: 0.5px solid rgb(208, 208, 208);

     border: none;
}
.searchbar input:focus{
    outline: none;
  
}
.searchbar ::placeholder{
     color:  #B3B5BF;
     font-size: 1.25rem;
     
    
}
.searchbar i{
    color: #4D28DA;
 
 
}
.searchbar:focus-within{

    border: 0.5px solid #633ff2;
}
.country_list_panel{
    /* border: 2px solid white; */
     
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    gap:3rem;
    padding: 1.5rem 0;

}
.country_list{
    max-width: 50%;
}

.country_list li{
    list-style: none;
    /* display: flex; */
    padding: 0.75rem;
    transition-duration:300ms;
    
}
.country_list li a {
    text-decoration: none;
    color: white;
    font-size: 1rem;
    font-family: Arial, Helvetica, sans-serif;


}

.flag_icon{
    font-size: 1.75rem;
    /* border: 2px solid white; */
}
.country_list span{
    /* font-size: 1rem; */
    color: #919193;
    /* padding: 0.75rem; */
    margin:0  1rem;

}

.country_list li:hover{
    transform: scale(1.08);
}
@media (max-width:1320px){
    .container{
        max-width: 90%;
    }
    .country_list_panel{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        /* place-items: center; */
    }
    .country_list{
        max-width: 100%;
      }
      .country_list li{
          padding: 0.75rem 0;
      }
      .country_list span{
        margin: 0 0.5rem;
      }
}

@media (max-width:1140px){
      .choose_country{
        display: none;
      }
      .country_list_panel{
           display: grid;
           grid-template-columns: 1fr 1fr 1fr;
           /* place-items: center; */
      }
      .country_list{
        max-width: 100%;
      }
      .country_list li{
          padding: 0.75rem 0;
      }
      .country_list span{
        margin: 0 0.5rem;
      }
    
}
@media (max-width:960px){
    .choose_text{
        display: none;

    }
    .choose_country{
        position: absolute;
        top:2%;
        right: 2%;
    }
    .searchbar{
        max-width: 100%;
        margin:1.5rem  0;
    }
    .country_list_panel{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
   
    .country_list{
        max-width: 100%;
    }
}
@media (max-width:768px){
    .choose_text{
        display: none;
    }
    .choose_country{
        position: absolute;
        top: 2%;
        right: 2%;                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                               
    } 
    .searchbar{
        max-width: 100%;
        margin: 1.25rem 0;
    }
    .country_list_panel{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
   
      
}

@media (max-width:540px){


    .logo_panel{
        width: 50%;
        padding: 2rem 1rem;
    }
    .choose_text{
        display: none;
    }
    .choose_country{
       
        position: absolute;
        right: 2%;
        top: 2%;
       
    }
    .searchbar{
       max-width: 100%;
       margin: 1.25rem 0;
    }
    .country_list_panel{
        display: grid;
        grid-template-columns: 1fr;
    }
   
    .country_list{
        max-width: 100%;
    }
    .country_list li{
        padding: 0.75rem 0;
    }
      
}