html{
    color-scheme: dark; 

}
body{
    background-color: black;        
    font-family: Arial, Helvetica, sans-serif system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
img{
    max-width: 100%;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
}
:root{
    --butttonbg:#D63163;
    --buttonsize: 1rem;
    --buttoncolor:white;  
    --buttoncursor:pointer;
    --textalign:start;

}
.button_size{
   max-width: 100%;
}
.container{
  width: 1400px;
  max-width: 90%;
    margin: auto;
    
}
.blue_line{
    width: 100%;
    background-color: #5025D1;
    padding:1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.blue_line h5{
    color: white;
    font-size: 1.25rem;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 300;
}
.blue_line a{

    text-transform: uppercase;
 
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: 1rem;
}
.logo_panel{
    /* width:100%; */
      padding: 2rem;
      display: flex;

      gap: 2rem;
      /* position: fixed; */
      /* border: 3px solid red; */
    
      
}

.logo a{
      display: flex;
    align-items: center;
    
    gap: 0.75rem;
    color: white;
    font-size: 1.25rem;
    text-decoration: none;
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;

}
.country{
    display: flex;
    align-items: center;
    gap:0.25rem;

}
.country a{
    font-size:1rem ;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    color: white;
    
}
.country img{
    width: 1.75rem;


}
nav{
    margin-left: auto;
}
.navbar{
 
    list-style: none;
    display: flex;
    justify-content: flex-end;
    position: relative;

   align-items:baseline;
    
   
}

.navbar a{
    text-decoration: none;
    padding: 2.5rem 1.5rem;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
   
}

.main-nav-links{
      
    text-decoration: none;
    padding: 2.5rem 1.5rem;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
   


    
}

.main-nav-links:hover{
    color: gray;
}


.navbar :nth-child(6){
    border: 1px solid white;
     border-radius: 0.25rem;
     padding: 0.75rem  0.15rem;
     
}



.second_nav{
    background-color: white;
    color: #3F2D76;
    position: absolute;
    top:2.5rem; 
    padding: 2rem ;
    list-style: none;
     margin: 0.75rem 1.25rem;
     border-radius: 0.5rem;
     /* display: none; */
     transform: translateX(-35%);
     display: none;
     
     
    
    



}
.second_nav ul{
    margin: 0;
    padding: 0;
}
.second_nav li{
    transition-duration: 500ms;
}
.second_nav li a {
    color: #3F2D76;
    font-size: 1.25rem;
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;

 
  
}
.second_nav li i{
    font-size: 1.5rem;
    
    
    

}
.second_nav p{
    color: #3F2D76;
    font-size: 1rem;
    font-weight: 100;
    
    
}
.navbar i{
    font-size: 1.2rem;
   
}
.second_nav_triangle{
    width: 0;
    height: 0;
    border-left: 12px solid transparent;
    border-right: 12px solid  transparent;
    border-bottom: 20px solid  white;
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%);
    display: none;

}

.second_nav li:hover{
    transform: scale(1.05);
}
.second_nav_text{
        display: flex;
        align-items: center;
        margin-bottom: 16px;
        gap: 10px;
}
.navbar li:hover .second_nav {
    display: block;
}
.navbar li:hover .second_nav_triangle{
    display: block;
}

.banner{
        display: flex;
        padding: 1.5rem 0; 
        gap: 5rem;
        align-items: center;
        justify-content: space-around;
        margin-bottom: 3rem;
       
 
        

}
.banner_text{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    gap: 1rem;
  
 
}
.banner_text h1{
    font-size: 3rem;
    font-weight: 600;


}
.banner_text h3{
    font-family: Arial, Helvetica, sans-serif;
   

}
span{
    color: #8C85FF;
}
.banner_image{

    transition-duration: 1s;  
}
.banner img{
    max-width:100%;
}

.banner-function{
  display: flex;

  gap: 0.5rem;
  flex-direction: column; 

}
.space-left{
    padding-left: 0.5rem;
}
.space-right{
    padding-right: 0.5rem;
}

.green{
   color:#00B090;
}
.pointer{
    cursor: pointer;
}

.banner_price{
    display: flex;
    padding-top: 1rem ;
    align-items: baseline;
}
.banner_price h2{
    font-size: 3rem;
    font-weight: 600;
}
.banner_price p{
    font-size: 1rem;
    
    
}


.banner_image:hover{
    transform: scale(1.05);
}
.banner_text h4{
    font-size: 1.25rem;
}
.banner_timer{
    padding: 2rem 0;
    display: flex;
    gap: 0.5rem;
    align-items: center;

}
.banner_timer_box{
   
    background-color:rgb(26, 26, 26);
    padding: 1.5rem 1.5rem;
   
    border-radius: 4px;
 
}
.banner_timer_box p{
    font-size: 1rem;
}    

.dot{
    font-size: 1.5rem;
}
button{
    
    font-size: 1rem;
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--butttonbg);
   padding: 1rem 8rem;
    display: flex;
   justify-content: center;
   border-radius: 3.5px;
   cursor: var(--buttoncursor);
  
   border: none;
   font-weight: 700;

  

}
.star_panel{
    display: flex;
    padding: 5rem 0rem;  
   
    justify-content: space-evenly;
    

}
.star{
    color: white;
   
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    flex-direction: column;
    gap: 0.5rem;
}
.star i{
    font-size: 2rem;
    
    
    
}
.star h4{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.25rem;
    font-weight: 500;

}
.star_grade{
    display: flex;
    gap: 0.5rem;
    color: #00B091;
    
    

     
    
}
.star_grade p{
    color: #2F1C7D;
    margin-left: auto;
}
.fill{
    background-color: #00B67A;
    color: white;
    padding: 0.25rem;
    /* margin: 0.25rem; */
    
}
.fill:nth-child(5){
    background-image:linear-gradient(to right, #00B67A 50% ,#DCDCE6 50%)
}
.star_paragraph{
     font-family: Arial, Helvetica, sans-serif;
     font-size: 1rem;
}
.fill2{
    color: #00B090;
    padding-bottom:0.5rem 0;
}

.sub_heading{
   
    display: flex;
    justify-content: center;
     padding: 5rem 0;  
     font-size: 1.75rem;
     font-family: Arial, Helvetica, sans-serif;

}
.package_panel{
   
    padding: 5rem 0rem;
    display: flex;
    gap: 2rem;
  
    justify-content: center;
    
}
.package_type{
    width: 40%;
    padding: 2.5rem;
    border: 1px solid white;
    background-color: #1D1E20;
    display: flex;
    flex-direction: column;
 
   transition-duration: 1s;
   position: relative;


 

}
.premium_plan{
    font-family: Arial, Helvetica, sans-serif;
    
    display: flex;
  
    flex-direction: column;
    align-items: center;
    gap:1.25rem;

    
   


}
.premium_plan h3{
    font-size: 1.5rem;
    font-weight: 600; 
}
.premium_plan p{
    font-size: 1rem;
    font-weight: 200;

}
.premium_offer{
    display: flex;
    align-items: center;
    gap: 0.25rem;
}
.premium_offer p{
    text-decoration: line-through;
    color: white;
}
.premium_offer a{
    color: #1D0D4C;
    background-color: #EBE4FF;
    border-radius: 20px;
    padding: 0.5rem;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 600;
}
.premium_plan h4{
    font-size: 1.25rem;
    color: #8C85FF;

}
.premium_plan_button{

    background:none;
    border:none;
    background-color: #673de6;
 
}

.premium_plan_button:hover{
    background-color: #5025D1;
}
.features{
    
    padding: 2rem 0;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 1.5rem;  
    
}
.top_features{
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
  
    line-height: 1.5;
}
.top_features h4{
    font-size: 1.25rem; 
    padding: 0.5rem;
    
}
.yellow{
  color:#FFCD35;
}
.features_function{
    display: flex;
    justify-content: space-between;
    


}
.features_function i{
    font-size:1rem;
 
   
}
.pink{
    color: #FC5185;
}
.gray{
    color: gray;
}   
.all_features{
    display: flex;
    justify-content:center;
    padding-top: 1.25rem;
    font-family: Arial, Helvetica, sans-serif;
}
.all_features a {
    font-size: 1rem;
    text-decoration: none;
    color: #5E79FF;
    font-weight: 500;
    cursor: var(--buttoncursor);
}
.package_type:hover{
      transform: scale(1.02);
}

.business_badge{
    padding: 0.75rem  3rem;
    background-color:var(--butttonbg);
    border-radius: 50px;
    text-transform: uppercase;
    position: absolute;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    font-size: 1.25rem;
    top: -0.7%;
    left: 21%;

}
.business_card{
    border: 1px solid blue;
}

.payment_terms{
        /* position: absolute; */
        
        /* bottom: 0%; */
        display: flex;
        justify-content: center;
        padding: 1.75rem;
        /* border: 2px solid red; */
}
.payment_terms a{
      font-family: Arial, Helvetica, sans-serif;
      font-size: 1rem;
      text-decoration: none;
      color:#5E79FF;
      font-weight: 500;

}
#business_premium_offer{
    color:#D94078;
    background-color:#FFE8EF;


}
#business_text h4{
    color:#D63163;
}
#business_text a{
    color:#D63163;
}
#business_button{
    background-color: #fc5185;
    /* width: 80%; */
}
#business_button:hover{
     background-color:#D63163 ;
}
.map1{
    background-color: white;
    
}
.map{
    font-family: Arial, Helvetica, sans-serif;  
    border:2px solid white;
    color: #2F1C6A;
    padding: 5rem 0;
    display: flex;
    flex-direction: column;
        gap: 1.5rem;
      align-items: center;

}
.map_text{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 1.5rem;
 
    
}
.map_text h2{
    font-size: 1.75rem;
    
}
.map_text p{
    text-align: center;
    line-height: 1.5;
}

.solution_panel{
   
    /* border: 2px solid black; */
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;

    
}
.solution_text{
    max-width: 40%;
    font-family: Arial, Helvetica, sans-serif;
     /* width: 30%; */
     display: flex;
     flex-direction: column;
       gap: 2rem;
     
}
.solution_text h2{
    color: #2F1C6A;
    font-size: 2.5rem;
    padding-right: 2.25rem;
}
.solution_text p{
    color: grey;
    font-size: 1rem;
}
.solution_img {
    max-width: 40%;
}
.solution_image img{
    max-width: 100%;
}
#postion_change{
   display: flex;
   align-items: flex-start;
   gap: 3rem;

}
#max_text{
    padding-top: 2rem;
}

.trustpilot_panel{
     /* border: 1px solid black; */
     padding: 3.5rem 5rem;
  
     font-family: Arial, Helvetica, sans-serif;
     display: flex;
  
     justify-content: space-around;
     gap: 1rem;
   
     
}
.trustpilot{
    /* border: 2px solid black; */
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    justify-content:space-around;
    padding:2rem 3rem;
    /* margin:0 2rem; */
    
    
    
    

}
.trustpilot h4{
    color: #222222;
    font-size: 1.25rem;
    font-weight: 600;
}
.trustpilot p{
    /* margin-right: 10rem ; */
  
    color: #2F1C7D;
    font-size: 1rem;
    line-height: 1.5;
}
.trustpilot i{
    /* color:black; */
    font-size: 1.5rem;
}
#background{
    background-color:#F4F5FF;
    color: white;
    border-radius: 15px;
    padding:2rem;
    max-width:30%;

}


.join_owner{
    /* border: 2px solid black; */
    padding: 3rem 0;
    color: #2F1C6A;
    font-family: Arial, Helvetica, sans-serif;
    /* text-align: center; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:1.5rem;
    /* border: 2px solid black; */
    
}
.join_owner h2{
    font-size: 2.25rem;

}
.join_owner button{
    padding: 1rem 5rem;
}
.blue_background{
    background-color: #673DE6;
    padding: 2rem;
      /* color: white; */
}
.featured_client_stories{
    /* border: 2px solid black; */
    padding: 1rem 5rem;
    display: flex;
    justify-content: center;
    gap: 1.25rem;
}
.client_panel{
    border: 2px solid #D5DFFF;
    max-width: 30%;
}
.client_panel_wrapper{
     font-family: Arial, Helvetica, sans-serif;
     display: flex;
    flex-direction: column;
     gap: 2rem ;
    
     
}

   
.client_comment{
    display: flex;
    gap: 2rem ;
    flex-direction: column;
    color: #2F1C6A;
    justify-content: center;
    
    padding: 1.75rem;
    line-height: 1.5;
}
.client_icon{
    font-size: 1.5rem;
    color: #673DE6;
}
.client_comment a {
    text-decoration: none;
    font-size: 1rem;
    color:#673DE6;
    font-weight: bold;
}
.client_profile{
    background-color: #F4F5FF;
    border: 0.25px solid #D5DFFF;
    display: flex;
    gap: 1rem;
    justify-content: flex-start;
    align-items: center;
    
    font-family: Arial, Helvetica, sans-serif;
    padding:1.25rem;

}
.client_image{
    border-radius: 50%;
    overflow: hidden;
    width: 4rem;
    height:4rem;
}
.client_image img{
   max-width: 100%;

}
.client_name{
    line-height: 1.5;
   
}
.client_profile h5{
    color: #2F1C6A;
    font-size: 1.15rem;
}
.client_profile p{
    font-size: 1rem;
    color: #2F1C6A;

}
.browse_button{
    text-align: center;
    
}
.browse_stories{
    background: none;
    border: 2px solid#673DE6;
    color: #673DE6;
    padding: 1rem 4rem;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
    margin: 2.5rem;
    display: inline-block;
    

}
.browse_stories:hover{
    background-color: #EBE4FF;
}

footer{
    background-color: #F4F5FF;
    
   
}

#rahul h2,
#rahul p,
#rahul i,
#rahul h4{
         color: white;
}
.trust{
    background-color: #5025D1;
    color: white;
    border-radius: 5px; 
    padding: 3rem;
     width: 50%;
    
}
.footer_panel{
    /* border: 2px solid black;  */
     padding: 3rem;
     /* margin: 2rem; */
}
.footer_panel_wrapper{
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr;
    gap:3rem;
}

.heading1 {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    color:#373C8B;
    line-height: 1.2;
    font-family: Arial, Helvetica, sans-serif;
}

.heading1 a{
    color: black;
}
.heading1 p{
    line-height: 1.5;
}

.and_more a{
    color: #693DE6;
    font-weight:600;
    text-decoration: none;
}
.payment_card{
    display: flex;
   gap: 1rem;
    justify-content:flex-start;
    color: #FFFFFF;

}
.card{
    width: 60px;
    height: 40px;
    border-radius: 4px;
 
    border: 2px solid #DBE3FF;
    /* background-image: url(../images/visa.png); */
    background-size: cover; 
    /* background-repeat: no-repeat; */
    display: flex;
    justify-content: center;

}
.heading1 h5{
    color: #2F1C6A;
    font-size: 1.25rem;
    font-weight: 600;
}
.heading1 li {
    list-style: none;
    padding: 0.5rem 0;

}
.heading1 li a {
    color: #2F1C6A;
    text-decoration: none;
    /* padding: 1rem 0; */
    font-size: 1rem;
    line-height: 1;
}
.heading1 li a:hover{
    color: #994FD3;
}
.footer_icon{
    display: flex;
    justify-content: flex-end;
    /* padding-right:6rem; */
    padding: 1.5rem 6rem;
    font-family: Arial, Helvetica, sans-serif;

}
.icon{
    color: #2F1C6A;
    font-size: 1.5rem;
}
.icon a {
    color: #2F1C6A;
    text-decoration: none;
    font-size: 1rem;
}
.copyright{
    color: #2F1C6A;
    display: flex;
    justify-content: space-around;
    padding: 1rem 0;
    font-size: 1rem;
    font-family: Arial, Helvetica, sans-serif;
}
hr{
    color: grey;
    /* height: 20px; */
    /* margin: 1rem; */
}

/* wordpress page css */



.customer_experience{
    font-family: Arial, Helvetica, sans-serif;
     /* border: 4px solid  red; */
     padding: 8rem 0rem;
     display: flex;
      justify-content: center;  
      align-items: center;
     gap: 1rem;
     color: black;
    
    }
    .customer_image{
           /* border: 2px solid blue; */
           max-width: 30%;
       
      
    
    }
    .customer_image img{
        max-width: 100%;
      
    }
    
    .blue_box{
        
       
        font-size: 3rem;
        color: #724ce6;
       
    }
    
    
    .customer_text{
        /* border: 2px solid black; */
        max-width: 65%;
        font-family: Arial, Helvetica, sans-serif;
        color: #2F1C6A;
        /* margin-bottom: 2rem; */
        display: flex;
        flex-direction: column;
        /* border: 3px solid yellow; */
        
        
    }
    .customer_text h4{
        font-size: 2.25rem;
       font-weight: 500;
        /* text-align: left; */
        margin-bottom: 1.5rem;
        padding-right: 8rem;
    }
    .customer_text a{
        text-decoration: none;
        color: #5028D8;
        font-weight: 600;
        margin-bottom: 2rem;
        display: inline-block;  
        
        
    }
    hr{
        border: 0;
        height: 1px;
        background-color: grey;
        margin-bottom: 2rem;
    }
    .customer_experience span{
        color:#5028D8 ;
    }
    .customer_name h5{
        font-size: 1rem;
        
        
    }
    .next_prev{
        display: flex;
        justify-content:space-between;
        align-items: center;
    
        /* border: 2px solid black; */
    }
    .next_prev_icon{
       display: flex;
       justify-content: space-between;
       align-items: center;
       gap: 0.75rem;
       margin-right: 5rem;
       
    
    }
    .next_prev_icon i{
        padding:0.5rem;
        background-color: rgb(220, 213, 213, 0.3);
        border-radius: 50%;
        font-size: 1.5rem;
        color: #724ce6;
     
    }
    
    
    
    



/* Responsive  */



 





@media (max-width:1320px){
       
    .container{
        max-width: 90%;
    }
    .package_panel{
        max-width: 100%;
      
    }
    .premium_plan_button{
        padding: 1rem 5rem;
    }
    .business_badge{
        left: 15%;
    }
    .solution_img{
        max-width: 80%;
    }
    .trustpilot_panel{
    
       padding:2rem  0;
    }
 
  
    
    
    
} 

@media(max-width:1140px){
    .container{
        max-width: 90%;
    }
  
    button{
        padding: 1rem  7.5rem;
    }
    .banner_text h1{
        font-size: 2.25rem;
    }
    .banner_image{
          max-width: 100%;
    }
    .star_panel{
        justify-content: space-between;
    }
    .package_panel{
      /* justify-content:space-around; */
      gap: 1rem;
      /* text-align: center; */
    }
 
   .premium_plan p{
    text-align: center;
   }
    .premium_plan_button{
        padding: 1rem 3rem;
    }
    .business_badge{
        left: 13%;
        /* padding: 1rem 2rem;
        font-size: 1rem; */
    }
  
    .solution_panel{
        gap: 2rem;
    }
    .solution_text{
        max-width: 50%;
    }
    .solution_img{
        max-width: 50%;
    }
    .trustpilot_panel{
        /* gap:1rem; */
       padding:2rem  0;
    }
 
 

.trustpilot{
    padding: 2rem 1rem;
}
.featured_client_stories{
    padding: 1rem 0;
}
   
    .footer_panel_wrapper{
        grid-template-columns: 1fr 1fr 1fr ;    
    }
    .heading1{
        grid-column-start: 1;
        grid-column-end: 4;
    }
   
    .payment_card{
        display: flex;
        justify-content: flex-start;
        gap: 1rem;
    }
    #item1{
        grid-column-start: 1;
        grid-column-end: 2;
    
    }
    #item2{
        grid-column-start: 2;
        grid-column-end: 3;
    }
   
    #item3{
        grid-column-start: 3;
        grid-column-end: 4;
    }
  
    .footer_icon{
        padding-right: 0;
    }
  
 



}

@media (max-width:960px){
    .container{
        max-width: 90%;
    }
    .navbar{
        /* display: none; */
    }
    .navbar a{
        padding: 2.5rem 0.75rem;
    }
   
    .banner{
        flex-direction: column;
         padding: 0;
    }
    .banner_text{
        align-items: center;
         
    }
    .banner_text h1{
        font-size: 2rem;
    }
    .banner_image{
        max-width: 80%;
    }
    .star_panel{
        display: grid;
        grid-template-columns: 1fr 1fr;
        place-items: center;
        gap: 2rem;
    }
    .package_panel{
        /* flex-direction: column; */
        width:100% ;
        gap: 0rem;
        /* padding:0 5rem; */
        
     margin: 0;
    }
    .package_type{
        width: 35%;   
         
    }
    .package_type:hover{
        transform:scale(1) ;
      
    }
   
    .business_card{
        border: 1px solid white;
    }
    .business_badge{
        left:21%;
        padding: 1rem 1.25rem;
        font-size: 1rem;
    }
    
    .payment_terms{
        left: 43%;
        padding: 2rem 0;
    }
    
    .solution_panel{
        flex-direction: column;
        gap: 1rem;
        padding: 0;
        align-items: center;
    
    }
    .solution_text{
        /* border: 1px solid red; */
        max-width: 100%;
        /* align-items: flex-start; */
    
       
        
       
    }
    .solution_text h2{
        font-size: 2rem;
    }
    .solution_img{
        max-width: 80%;
    }
    #postion_change{
          flex-direction: column-reverse;
          align-items: center;

    }
  
   
    .trustpilot_panel{
        max-width: 100%;
        flex-direction: column;
        padding: 0;
        margin: 2rem 0;
        /* border: 2px solid red; */
       
    }
    
    .trust{
        width: 100%;
  
    }
    #background{
        max-width: 100%;
        padding: 1.05rem 1.25rem;
    }
    .trust{
       
        max-width: 100%;
        /* margin:1rem; */
    }
    .featured_client_stories{
        display: flex;
        flex-direction: column;
        align-items: center;
     
        
    }
    
    .join_owner h2{
        font-size: 1.75rem;
    }
    .client_panel{
        max-width: 100%;
    }
    .footer_panel_wrapper{
        grid-template-columns: 1fr 1fr 1fr;
    }
    .heading1{
        grid-column-start: 1;
        grid-column-end: 4;
    }
    #item1{
        grid-column-start: 1;
        grid-column-end: 2;
    
    }
    #item2{
        grid-column-start: 2;
        grid-column-end: 3;
    }
   
    #item3{
        grid-column-start: 3;
        grid-column-end: 4;
    }
    #item4{
        grid-column-start: 4;
        grid-column-end: 5;
    }
    .trust{
        max-width: 100%;
    }
    .payment_card{
        display: flex;
        justify-content: flex-start;
        gap: 1rem;
    }
    
    .copyright{
        flex-direction: column;

        align-items: center;
        gap: 1rem;
    }
    .footer_icon{
        padding-right: 0;
    }
    .footer_panel{
        display: flex;
        justify-content: center;
    }

   
} 

@media (max-width:720px){
    .container{
        max-width: 90%;
        
    }
    
    .blue_line{
        display: flex;
    
   }
    .navbar{
        display: none;
      
    }
    .country{
        display: none;
        display: flex;
        justify-content: flex-end;
    }
    .banner{
          flex-direction: column;
          padding: 0rem;
         
     
    }
   .banner_text{
    
      align-items: center;
   }
    .banner_text h1{
        font-size: 2rem;
        
    }
    .banner_image{
        max-width: 90%;

    }
    .star_panel{
        display: grid;
        grid-template-columns: 1fr 1fr;
        place-items: center;
        
        
        

 }
    .sub_heading{
        font-size: 1.25rem;
    }
    .package_panel{
        flex-direction: column;
        gap: 2rem;
        padding: 0 ;
    }
    .package_type{
        width: 100%;
    }
    .business_badge{
           left: 31%;
    }
    .payment_terms{
          /* left: 40%; */
          width: 100%;
    }
    .premium_plan_button{
        padding: 1rem 6rem;
    }
    
    .solution_panel{
        flex-direction: column;
        gap: 1rem;
        padding: 0;
        align-items: flex-start;
    
    }
    .solution_text{
        max-width: 100%;
       
    }
    .solution_text h2{
        font-size:2rem;
    }
    .solution_text p{
        /* text-align: left; */
        line-height: 1.8;
    }
    .solution_img{
        max-width: 100%;
    }
    .trustpilot_panel{
        flex-direction: column;
        padding: 0;
        margin: 2rem 0;
        /* border: 2px solid red; */
       
    }
    .trust{
        width: 100%;
       
    }
  
    #background{
        max-width: 100%;
    }
   
    .copyright{
         display: grid;
         grid-template-columns: 1fr;
    }
      
   

#background{
      margin: 1rem 0;
}

.featured_client_stories{
    flex-direction: column;
    padding: 0;
    
}
.client_panel{
    max-width: 100%;

}
.join_owner h2{
    font-size: 1.75rem;
}
.featured_client_stories{
        flex-direction: column;
        align-items: center;
}
.client_panel{
    max-width: 90%;
}
.footer_panel_wrapper{
    grid-template-columns: 1fr 1fr 1fr;
    
    
}
.heading1{
    grid-column-start: 1;
    grid-column-end: 4;
}
/* #item1{
    grid-column-start: 1;
    grid-column-end: 2;

}
#item2{
    grid-column-start: 2;
    grid-column-end: -2;
}
#item3{
    grid-column-start: 3;
    grid-column-end: 2;
} */
.footer_icon{
    justify-content: flex-end;
    padding: 1rem ;
}
.copyright{
    flex-direction: column;
    gap: 1rem;
    text-align:center;
    padding: 1rem 2rem;
}


  

}


@media (max-width:540px){
    .container{
        max-width: 90%;

    }
    .blue_line{
         display: flex;
         flex-direction: column;
     
    }

    
    .navbar{
        display: none;
    }
   
    .logo{
        padding: 0;
    }
    .banner{
          flex-direction: column;
          padding: 0rem;
     
    }
    .banner_text{
        align-items: center;
        text-align: center;
    }
    
    button{
        padding: 1rem  5rem;
    }
    .banner_image{
        padding: 0rem 2rem;
    }
    
    .star_panel{
        display: grid;
        grid-template-columns: 1fr ;
        gap: 1.25rem;
        place-items: center;
        padding: 2rem 0;
    }
    .sub_heading{
       line-height: 1.5;
       padding: 3rem 0;
        text-align: center;
    }
    .package_panel{
        flex-direction: column;
        gap: 3rem;
        width: 100%;
        padding: 0rem 0rem;
        
    
    }
    .premium_type{
       max-width: 100%;
    }
    .business_badge{
          /* padding: 0.75rem; */
          left:35%;
        
          
   
    }
    .premium_plan p{
      text-align: center;
    }
    .payment_terms{
         padding:1rem 0 ;
    }
    .premium_plan_button{
        padding: 1rem 6rem;
    }
    .map{
        /* border: 2px solid red; */
        text-align: center;
        padding: 5rem 1rem;
       
    }
   
    
    .customer_experience{
        flex-direction: column;
        flex-direction: column-reverse;
       
    }
   
    .customer_text{
        max-width: 90%;
    }
    .customer_text h4{
        padding-right: 0rem;
        font-size: 1.5rem;
    }
    .next_prev{
       flex-direction: column;
       align-items: flex-start;
       gap: 1rem;
    }
    .customer_image{
        max-width: 90%;
    }
    .solution_panel{
        
        padding: 0;
        flex-direction: column;  
        gap: 1rem;
    }
    .solution_text{
        max-width: 100%;
    }
    .solution_text h2{
        font-size: 2rem;
        /* text-align: center; */
        padding-right: 0;
    }
    .solution_text p{
        /* text-align: left; */
        line-height: 1.8;
    }
    .solution_img{
        max-width: 100%;
    }
   
    .trustpilot_panel{
        flex-direction: column;
        padding: 0;
       
    }
  
    .trust{
        width: 100%;
       
    }
    .join_owner{
        text-align: center;
    }
    #background{
        max-width: 100%;
    }
    
   

#background{
      margin: 1rem 0;
}

.featured_client_stories{
    flex-direction: column;
    /* padding: 0; */
    align-items: center;
    
    
}
.client_panel{
    max-width: 90%;
}
.join_owner h2{
    font-size: 1.75rem;
}
.footer_panel_wrapper{
    grid-template-columns: 1fr;
    
    
}
.heading1{
    grid-column-start: 1;
    grid-column-end: 5;
}
 #item1{
    /* grid-column-start: 1;
    grid-column-end: 2; */
    display: none;

}
* #item2{
    /* grid-column-start: 2;
    grid-column-end: -2; */
    display: none;
}  
 #item3{
    /* grid-column-start: 3;
    grid-column-end: 2; */
    display: none;
}  
#item4{
    display: none;
}
.footer_icon{
    justify-content: flex-start;
    padding: 1rem ;
}
.copyright{
    flex-direction: column;
    gap: 1rem;
    text-align: center;
}
  

}
   